* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navigation__link {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}

.heading__style {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}
.heading__style2 {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.name {
  color: rgb(21, 7, 73);
  font-weight: bold;
  font-size: 26px;
  line-height: 50px;
}

.navigation {
  display: flex;
  gap: 30px;
  margin-left: 30px;
}
